//
//  Debug.xcconfig
//  Magento kernel
//
//  Created by MSZ on 2/13/20.
//  Copyright © 2020 Robusta. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
OTHER_SWIFT_FLAGS = -DDEBUG
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG

PROTOCOL                = https
BASE_DOMAIN             = robusta.hypernode.io
BASE_REST_DOMAIN        = fe.elaraby.ecommbeta.com
TIMEOUT_INTERVAL        = 10
TOKEN_EXPIRATION_CODE   = 403
PAGE_SIZE               = 5
